<div id="<%= dom_id content %>">
  <p>
    <strong>Title:</strong>
    <%= content.title %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= content.file_type %>
  </p>

  <p>
    <strong>File path:</strong>
    <%= content.file_path %>
  </p>

  <p>
    <strong>Lesson:</strong>
    <%= content.lesson_id %>
  </p>

</div>
