<!DOCTYPE html>
<html>
  <head>
    <title>Academy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= render "shared/flash" %>
    <div class="container-fluid">
   <div class="row">
   <div class="col-4">
    <%= render 'shared/pages_sidebar'%>
    </div>
    <div class="col-8">
    <%= yield %>
    </div>
    </div>
    <div class="row">
      <%= render 'shared/footer'%>
    </div>
    </div>
  </body>
</html>
